# ── Supabase ──────────────────────────────────────────
SUPABASE_URL=https://pfvcpiiqmosdqyfameaf.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmdmNwaWlxbW9zZHF5ZmFtZWFmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTQ3MjI4MywiZXhwIjoyMDkxMDQ4MjgzfQ.SciwelkyxRVJDBYhGmENnH0MQH24WtrjIJlkxswiumE

# ── Cloudinary ────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=duqxr726g
CLOUDINARY_API_KEY=244579286461574
CLOUDINARY_API_SECRET=ob7QeJkptQWWGhaL1DeCnXvKCrM

# ── Admin ─────────────────────────────────────────────
ADMIN_PASSWORD=DartechAdmin2025

# ── App ───────────────────────────────────────────────
PORT=3000
FRONTEND_URL=https://dary-payment-front.vercel.app

# ── InstaPay (هتغيرهم ببيانات الحساب الحقيقي) ────────
INSTAPAY_ACCOUNT=dartech@instapay
INSTAPAY_HOLDER=Dartech Technologies
SUBSCRIPTION_PRICE_USD=20
